<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script src='../templates/LodopFunc.js'></script>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
</head>
<!--<body onload="printing2()">-->
<body>
    <p id="txtPrint">Thermal Printer Test-Print</p>
    <button onclick="printing2()">Click to Print</button>
<!--    <p id="demo" th:text="${a}"></p>-->
    <p> </p>
    <div id="divImgQR">
        <img alt="" id="imgQR" src="/image/aaa.jpg" width="100" height="100">
    </div>
    <div id="divImgText">
        <img src="/image/aaaa.jpg" id="imgText" alt="">
    </div>
</body>
</html>

<script>
    var LODOP=getLodop();

    function printing2() {
        // var imgQR = document.getElementById("imgQR").src;
        var imgQR = document.getElementById("imgQR");

        LODOP.PRINT_INIT("");
        LODOP.SET_PRINT_PAGESIZE(1,1100,500,0);
        // LODOP.ADD_PRINT_IMAGE(0,0,150,150,"<img border='0' src='/image/aaa.jpg' width=500 height=500 />");
        // LODOP.ADD_PRINT_HTM(0,0,"100%","100%", "<img border='0' src='/image/aaa.jpg' width=170 height=170 alt=''/>");
        // LODOP.ADD_PRINT_HTM(10,10,"100%","100%","<!DOCTYPE html>"+document.getElementById("divImgQR").innerHTML);
        LODOP.ADD_PRINT_HTM("10%", "10%", "100%", "100%","<!DOCTYPE html>"+document.getElementById("divImgQR").innerHTML );
        // LODOP.SET_PRINT_STYLEA(0,"Stretch",1);
        // LODOP.SET_PRINT_STYLEA(0,"Horient",2);//打印项在纸张中水平居中
        LODOP.ADD_PRINT_HTM(160,90,20,20,"<!DOCTYPE html>"+document.getElementById("divImgText").innerHTML);
        // LODOP.SET_PRINT_STYLEA(0,"Stretch",2);
        // LODOP.SET_PRINT_STYLEA(0,"Horient",2);//打印项在纸张中水平居中
        // LODOP.SET_PRINT_STYLEA(0,"HtmWaitMilSecs",10000);  //delay

        // LODOP.ADD_PRINT_TEXT(150,130,500,50,"2019-12-13 00:00:00 abcde");
        // LODOP.SET_PRINT_STYLE("FontSize",12);
        // LODOP.PRINT();
        // LODOP.PRINT_DESIGN();
        LODOP.PREVIEW();

    }
</script>
