<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script src='../static/js/LodopFunc.js'></script>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
</head>
<!--<body onload="printing2()">-->
<body>
    <p id="txtPrint">Thermal Printer Test-Print</p>
    <button onclick="printing2()">Click to Print</button>
<!--    <p id="demo" th:text="${a}"></p>-->
    <p> </p>
    <div id="divImgQR">
        <img alt="" id="imgQR" src="/image/aaa.jpg" width=200 height=200>
    </div>
    <div id="divImgText">
        <img src="/image/aaaa.jpg" id="imgText" alt="" width=300 height=50>
    </div>
</body>
</html>

<script>
    var LODOP=getLodop();

    function printing2() {
        LODOP.PRINT_INIT("");
        LODOP.SET_PRINT_PAGESIZE(1, 1100, 500, 0);
        LODOP.ADD_PRINT_HTM(20, 300, "100%", "100%", document.getElementById("divImgQR").innerHTML);
        LODOP.ADD_PRINT_HTM(250, 250, "100%", "100%", document.getElementById("divImgText").innerHTML);
        LODOP.SET_PRINT_MODE("PRINT_PAGE_PERCENT", "Width:50%;Height:50%");

        // LODOP.PRINT();
        LODOP.PREVIEW();
    }
</script>
