<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script src='../static/js/LodopFunc.js'></script>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
</head>
<!--<body onload="printing2()">-->
<body>
<p id="txtPrint">Airway Bill</p>
<button onclick="printing2()">Click to Print</button>
<!--    <p id="demo" th:text="${a}"></p>-->
<p> </p>
    <div id="divDHL">
        <img src="/image/dhl.jpg" alt="" width=600 height=500>
    </div>
    <div id="divPoslaju">
        <img alt="" id="imgQR" src="/image/poslaju.jpg" width=550 height=400>
    </div>
    <div id="divJNT">
        <img src="/image/jnt.jpg" alt="" width=550 height=400>
    </div>
</body>
</html>

<script>
    var LODOP=getLodop();

    function printing2() {
        LODOP.PRINT_INIT("");
        LODOP.SET_PRINT_PAGESIZE(1,1000,1500,0);
        LODOP.ADD_PRINT_IMAGE(0,0,"100%","100%",document.getElementById("divDHL").innerHTML);
        LODOP.NewPage();
        LODOP.ADD_PRINT_IMAGE(0,0,"100%","100%",document.getElementById("divPoslaju").innerHTML);
        LODOP.SET_PRINT_MODE("PRINT_PAGE_PERCENT", "Full-Page");

        // LODOP.PRINT();
        LODOP.PREVIEW();
    }
</script>
