<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:json="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script src='../static/js/LodopFunc.js'></script>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
</head>
<body onload="print()">
<h2>Thermal Printer Test-Print</h2>
<p id="demo" th:text="${a}"></p>
<script>
    var LODOP=getLodop();
    function data() {
        var information = document.getElementById("demo").innerHTML;
        LODOP.PRINT_INIT("");
        LODOP.ADD_PRINT_TEXT(30,10,350,30,information);
        LODOP.SET_PRINT_STYLEA(0,"QRCodeVersion",7);
    }
    function print() {
        // LODOP.WRITE_PORT_DATA("USB001",LODOP.PRINT(data()));
        LODOP.WRITE_PORT_DATA("USB001",LODOP.PREVIEW(data()));
    }
</script>
</body>
</html>
